//Base Styles
body{
  background: rgba(255, 250, 247, 0);
  color: #293a88;
}
h1{
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  clear:both;
}
h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
}
p{
  text-align:center;
  font-family: 'Open Sans';
  font-size: 2em;
  color: #293a88;
}
