//Base Styles
body{
  background: rgba(44, 62, 80, 0.36);
  color: #293a88;
  h1{
    font-size: 3em;
    text-align: center;
    font-family: 'Open Sans';
    padding-top: 55px;
  }
  p{
    text-align:center;
    font-size: 2em;
  }
}
