@import "modules/global";

//Styles only for demo
h2 {
  text-align: center;
}
pre{
  width: 80%;
  max-width: 600px;
  background: white;
  margin: 0 auto;
  font-size: 1.8em;
  padding: 2em;
  border-radius: 3px;
  border: 1px solid #003366;
}
//Styles for demo