@import "modules/global";

//Styles only for demo
h2 {
  text-align: center;
}
.explain{
  padding: 34px 0;
  font-size: 1.2em;

}
.logos{
  width: 425px;
  margin: 0 auto;
  clear:both;
  img{
    float: left;
  }
}
//Styles for demo