p{
  color: #555;
}
div.throw-away{
    width: 80%;
    max-width: 600px;
    background: rgba(187, 187, 187, 0.9);
    margin: 0 auto;
    font-size: 1.8em;
    padding-top: 1.7em;
    padding: 2em;
    border-radius: 3px;
    border: 1px solid #003366;
    dd{
      font-family: 'Open Sans';
      font-size: .6em;
      color: #555;
      font-style: italic;
    }
    dt{
      font-family: 'Open Sans';
    }
}